h1{
    text-align: center;
}

.image1 > img{
     margin: 0 0 0 300px;
     align-self: center;
    width:200px;
    height:220px;
   
   
    
}

.venky{
    position:relative;
   

}

.virat{
      position: absolute;
      left: 100px;
      top: 130px;

   
   
}

.padical{
      position:absolute;   
      left: 200px;
      top: 180px; 
    
}

.rajat{
      position:absolute;
    left: 300px;
    top: 230px; 
}

.kp{
      position:absolute;
    left: 400px;
    top: 280px; 
}

.tim{
     position:absolute;
     left: 500px;
     top: 310px;
    
}