body{
    background-color: rgb(31, 6, 30);
}
.head{
     display: flex;
     align-items: center;
     gap: 20px;
     border: 20px;
     margin: 30px;
     
}
.head img{
    width: 30px;
    height: 30px;
}

 h1{
    color: silver;
}

.head a{
    color: rgb(216, 161, 21);
    text-decoration: none;
    margin: 0 auto;
    
}

.head button{
    margin-left: auto;
    width: 140px;
    height: 60px;
    border-radius: 20px;
    color: silver;
    background-color: rgb(13, 131, 5);
    font-size: 20px;
    font-weight: bold;
}


main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px;
}

.content{
    width: 50%;
    color:rgb(162, 122, 19);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

button,a.resume{
    color:silver;
    background-color: rgb(18, 11, 112);
    text-decoration: none;
    width: 200px;
    height: 60px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
}


.anchor{
    width: 40%;
    display: flex;
    flex-wrap:wrap;
    gap: 20px;
    justify-content: center;
}

.anchor img{
    width: 180px;
    height: 180px;
    border-radius: 20px;
}



.foot{
    display: flex;
    justify-content: center;   /* Center horizontally */
    align-items: center;       /* Center vertically */
    gap: 30px;
    margin: 40px;
}

.foot img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}