body{
    margin: 0px;
}
.head{
    background-color:rgb(19, 2, 35);
    padding: 25px;
    position: sticky;
    top: 0;
   margin: auto;
   
}

.head a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
     padding: 25px;
}

p{
    width: 500px;
}